body{
    background: #000000;
}
.navbar-expand-xl{
    background:#000000;
    padding:8px;
    font-size:17px;
}
.nav-item{
    text-decoration-color: #ffffff;
}
.navbar-right{
    margin-right:100px;
}
#background {
    background-color:#000000;
    height: 1200px;  
    width:100%;
}
#blank {
    background-color:#6a696b;
    height: 900px; 
    background-image: url("new.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#btw {
  
    background-color:#6a696b;
    height: 50px; 
    width:100%;
}
#btww {
  
    background-color:#6a696b;
    height: 50px; 
    width:100%;
}
#btwww {
  
    background-color:#6a696b;
    height: 50px; 
    width:100%;
}
#btwwww {
  
    background-color:#6a696b;
    height: 50px; 
    width:100%;
}
.mySlides {
    display:none;
    margin: auto;
    width: 380%;
    padding: 100px;
    padding-right: 150px;
    padding-left: 160px;
}
#bt { 
    background-color:#000000;
    height: 50px; 
    width:100%;
}
p{
    color: aquamarine;
    font-size: 20px;
}
.row{
    height:100px; 
    width:100%;
}
#circle{
    background-image: url("back3.jpeg ");
    background-color: #000000;
    height: 1000px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.halfCircleBottom{
 
    height:960px;
    width:1903px;
    border-radius: 0px 4px 950px 950px;
    background:#000000;
}
#back{
    background-image: url("black.jpg ");
    background-color: #000000;
    height: 700px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#back1{
    background-image: url("black.jpg ");
    background-color: #000000;
    height: 700px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  #back2{
    background-image: url("black.jpg ");
    background-color: #000000;
    height: 700px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .parallax{
    height: 30vw;
    width:100%;
    background-image: url('back3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display:flex;
    align-items: center;
}
.parallax1{
    height: 30vw;
    width:100%;
    background-image: url('back2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display:flex;
    align-items: center;
}
.parallax2{
    height: 30vw;
    width:100%;
    background-image: url('back1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display:flex;
    align-items: center;
}
.parallax3{
    height: 30vw;
	width:100%;
    background-image: url('back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display:flex;
    align-items: center;
}

#contact {
    writing-mode: horizontal-tb; 
    display:flex; 
    justify-content:center;
    align-items:stretch;
}
#con{
    text-align:center;
    color:black; 
    font-size:40px
}
p{
    color:white;
    text-align:center;
    font-size: large;
}
.btn
{
    padding: 10px 30px;
    color:cyan;
    text-decoration: none;
    display: inline-block;
}
.button
{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
